main {
    background: url(/img/background-1.png);
    background-attachment: fixed;
    background-position: center center;
}
.boas-vindas {
    font-size: 15px;
    text-align: center;
    color: white;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    background-color: transparent;
    background-image: url('/img/back.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 10%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    background-color: transparent;
    background-image: url('/img/next.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 10%;
}
.slick-dots {
    display: none!important;
}
.sobre {
    color: white;
    text-align: center;
    font-size: 15px;
}
.planos {
    font-size: 20px;
    color: white;
    text-align: center;
}
.text-flex {
    color: #FF0072;
}
.cards {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 32px;
}
.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #161616;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border-radius: 10px;
    max-height: 468px;
    margin-left: 32px;
}
.cards .card:first-child {
    margin-left: 0;
}
.cards .card .icon {
    width: 64px;
    height: 64px;
}
.cards .card .card-img {
    width: 100%;
}
.cards .card h3 {
    font-size: 15px;
    margin: 16px 0px;
}
.cards .card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 15px;
    margin-bottom: 16px;
}
.cards .card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    font-weight: 500;
}
@media screen and (max-width:720px) {
    .cards{
        flex-direction: column;
    }
    .cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    } 
    .cards section.cards:last-child{
        margin-bottom: 0;
    }
    .cards section.card button {
        font-size: 70%;
    }
}