* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

a {
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}
a:hover {
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #161616;
    height: 8vh;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
main {
    background: url(/img/background.png);
    background-attachment: fixed;
    background-position: center center;
}
.mobile-menu {
    display: none;
    cursor: pointer
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: px) {
    body {
        overflow: hidden;
    }
    .nav-list {
        z-index: 10;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #161616;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}
.nav-list.active {
    transform: translateX(0);
    z-index: 10;
  }
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
.boas-vindas {
    font-size: 15px;
    text-align: center;
    color: white;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    background-color: transparent;
    background-image: url('/img/back.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 10%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 50px;
    background-color: transparent;
    background-image: url('/img/next.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 10%;
}
.slick-dots {
    display: none!important;
}
.sobre {
    color: white;
    text-align: center;
    font-size: 15px;
}
.planos {
    font-size: 20px;
    color: white;
    text-align: center;
}
.text-flex {
    color: #FF0072;
}
.cards {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 32px;
}
.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #161616;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border-radius: 10px;
    max-height: 468px;
    margin-left: 32px;
}
.cards .card:first-child {
    margin-left: 0;
}
.cards .card .icon {
    width: 64px;
    height: 64px;
}
.cards .card .card-img {
    width: 100%;
}
.cards .card h3 {
    font-size: 15px;
    margin: 16px 0px;
}
.cards .card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 15px;
    margin-bottom: 16px;
}
.cards .card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    font-weight: 500;
}
@media screen and (max-width:720px) {
    .cards{
        flex-direction: column;
    }
    .cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    } 
    .cards section.cards:last-child{
        margin-bottom: 0;
    }
    .cards section.card button {
        font-size: 70%;
    }
}
.footer-2 {
    background-color: #161616; 
    color: #FF0072;
    height: 70px;
}
.footer-2 p{
    font-size: 15px;
    text-align: center;
}
.redes-sociais ul li {
    padding: 4px;
    display: inline-block;
    list-style: none;
} 
.redes-sociais {
    text-align: center;
}